<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Look at me!</h1>
      <h4 class="subheader">Don't talk to me, I'm busy writing my code.</h4>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/Mamu's House.jpg" />
      <p>My name is Rajit and I'm a computer scientist who goes to Georgia Tech!</p>
      <p>In my free time, I play soccer, lift weights, run, and, of course, code.</p>
    </div>
  </main>
</body>
</html>
